.banner {
    background: var(--azul-degrade);
    color: var(--branco);
    text-align: center;
    padding: 2.5em 2em;
}

.banner__titulo {
    font-size: 1.125rem;
    font-weight: 700;
}

.banner__texto {
    font-weight: 500;
    line-height: 24px;
    margin: 1em 0;
}

.banner__pesquisa {
    background-color: transparent;
    border: 1px solid var(--branco);
    color: var(--branco);
    border-radius: 24px;
    padding: 1em;
    width: 100%;
}

.banner__pesquisa::placeholder {
    text-align: center;
    color: var(--branco);
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 0.9em;
    padding-left: 3em;
    background: url("../img/Lupa.svg") no-repeat;
    background-position: 3em;
}

@media screen and (min-width: 1024px) {

    .banner__titulo {
        font-size: 2.25rem;
    }

    .banner__pesquisa {
        width: 50%;
        border-radius: 20px;
        padding: 2em;
    }

    .banner__pesquisa::placeholder {
        font-size: 1rem;
        background-position: 6em;
    }
}

@media screen and (min-width: 1728px) {

    .banner__pesquisa {
        width: 30%;
        border-radius: 20px;
    }

    .banner__pesquisa::placeholder {
        background-position: 8.5em;
    }

    .banner {
        padding: 5em 0;
    }
}